<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration form</title>
</head>

<body>
    <form action="register" method="POST">
        {% csrf_token %}
        <label for="name">username: </label>
        <input type="text" name="username" id="" placeholder="Username"><br>
        <label for="name">password: </label>
        <input type="password" name="password1" id="" placeholder="password"><br>
        <input type="submit"></input>
    </form>
</body>

</html>